
body {
    background: url(img/bg.jpg) no-repeat top;
    background-color: #fafafa;
    margin: 0px 24px;
    font-family: Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,FZLanTingHeiS-L-G,PingFang SC,Microsoft YaHei;
}

input {
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f5f2f0;
    box-shadow: 1px 1px 1px #888888 inset;
}

p {
    text-align: center;
    color: #666;
}

.welcome {
    z-index: 335;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.left-title {
    color: white;
}

.hidden {
    visibility: hidden;
}

.list-left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: url(img/leftbg.png) no-repeat 0px 0px;
    background-size: 100% 50px;
    background-color: #fafafa;
    float: left;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.list-left .add {
    color: white;
    width: 380px;
    height: 36px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 10px;
    background: #2077ff;
}

.add:hover {
    background: #5f94e9;
}

.left-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 44px;
}

/*右边的部分*/
.list-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 430px;
    background: #2077ff;
    border-radius: 10px;
    position: relative;
}

.divider {
    z-index: 333;
    width: 100%;
    height: 138px;
    position: absolute;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.divider span {
    width: 1px;
    background: #dadada;
}

.divider span:first-child {
    width: 0;
    background: transparent;
}

.divider span:last-child {
    width: 0;
    background: transparent;
}

.ruler {
    border-bottom: #dadada 1px solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
}

.ruler p {
    font-size: 12px;
    width: 14px;
    color:white;
    font-weight: bold;
}

.right-item {
    height: 44px;
    background: #fafafa;
    display: flex;
    align-items: center;
}

#right-space {
    height: 56px;
    background: rgb(207, 207, 223);
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.time-line {
    background: #c1c3ca;
    border-radius: 5px;
    height: 12px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
}

.used-time {
    background: #ffe157;
    border-radius: 5px;
    height: 12px;
    width: 0px;
}

#right-space p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

/*底下显示结果的部分*/
.bt-container {
    padding-top: 16px;
    height: 44px;
    clear: both;
    display: flex;
    justify-content: space-around;
}

.bt-mid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    border: none;
    border-radius: 10px;
    background: #2077ff;
    outline: none;
    color: white;
}

.show-result {
    display: inline;
}

.bt-mid:hover {
    background: #5f94e9;
}

.result {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 10px;
    background: #ebebeb;
}

.result .ruler p {
    color: #666;
}

.result-item {
    height: 44px;
    border: 2px green;
    background: #fafafa;
    display: flex;
    align-items: center;
}

.arrangement {
    margin-top: -3px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.arrangement p {
    color: white;
    text-align: center;
    font-size: 10px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: rgb(83, 111, 231);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light-blue {
    background: rgb(235, 235, 235);
}